*,*::after, *::before {
  box-sizing:border-box;
  margin:0;
  padding:0;
}

body,button{
  font-family: 'Joti One', cursive;
  background-color:#050714;
  color: #fff;
  font-size: 1.2rem;
}
h1,h2 {
  font-size:3rem;
  color:#01B0D6; 
  line-height: 7rem;
  text-align: center;
}
h2 {
  line-height: 5rem;
}
p {
  text-align: center;
}
fieldset {
  font-family: 'Indie Flower', cursive;
  border: none;
}
img {
  width: 120px;
  height: 100vh;
  object-fit: cover;
  margin: 0;
}
fieldset label {
  margin-left: 3rem;
}
::placeholder {
  color: #676767;
  text-align: center;
}
.correcto {
  color: green;
}
.incorrecto {
  color: red;
}
.ocultar {
  display: none;
}
.mostrar {
  display: block;
}
.main {
  display: flex;
  justify-content: space-between;
  margin:0;
}
.imagenes, .borde {
  background-color: black;
  border-radius: 0 0 0 100px; 
  display: flex;
}
.imagenes img {
   padding-right:.2rem ;
}
.pagina1,.pagina2 {
  margin: auto;
}
.pagina2 {
  margin-top: 0;
}
.centrar {
  margin: auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  place-items: center;
  box-shadow: #fff 0px 1px 4px;
  padding: 3rem;
  border-radius: 20px;
}
.nombre-usuario {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.nombre{
  border:none;
  padding:1rem;
  display: block;
  border-radius: 10px;
  background-color:#1E1E1E;
  color:white;
  text-align: center;
  outline:none;
  width: 100%;
}
.btn-cta,.volver{
  padding:.7rem;
  background-color:#6421FF;
  border:none;
  border-radius: 10px;
}
.btn-jugar {
  margin: 4rem auto;
}
.volver {
  background-color: #0D154D;
}
.respuestas {
  margin-top: 3rem;
  line-height: 2rem;
}
.botones {
  display: flex;
  justify-content: space-around;
}
.botones button {
  margin-top: 1rem;
  width: 30%;
}
.puntos {
  margin-top: 1rem;
  color: #01B0D6;
}
